$color-title: #666d89;
$color-text: #767e9e;
$color-bg-dark: #2d303a;
$color-bg-light: #f2f2f2;
$color-tag-selected: #dedede;
$color-bg-dark-bottom: #323746;
$color-bg-light-bottom: #ffffff;
$color-accent: #fff78b