.invisible {
    position: absolute;
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
}

.header {
    position: relative;
    height: 95px;
    background-color: #2d303a;
}

.header-logo {
  position: absolute;
  top: 30px;
  left: 40px;  
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
}

.header-logo--color {
    margin-left: -4px;
    color: #f06c64
}

.header-nav {
    position: absolute;
    top: 39px;
    right: 40px;
    width: 371px;
}

.header-nav-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.header-nav-list-item {
    list-style-type: none;
}

.header-nav-list-item:not(:first-child)::before {
    content: "·";
    margin-right: 9px;
    font-weight: 600;
    color: #494e62;
}

.header-nav-list-item a {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
}

a.item--active {
    color: #f06c64;
} 

.header-nav-list-item a:hover {
    color: #fbff00;
}

.section-bottom--header {
    background-color: #323746;
}
