.section {
  position: relative;
}

.section-wrapper {
  padding: 61px 40px 67px 40px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 30px;
  font-weight: 900;
  color: $color-title;
}

.section-describe {
  margin-bottom: 17px;  
  font-size: 18px;
  font-weight: 300;
  color: $color-text;
}

.section-bottom {
  position: absolute;
  bottom: 0;
  height: 6px;
  width: 100%;
}
