.portfolio {
    background-color: $color-bg-dark;
    
    .section-bottom {
        background-color: $color-bg-dark-bottom;
    }
}

.images_container {
    margin-top: 22px;
    height: 601px;
}

.layout-grid3x3 {
    display: grid;
    grid-template-columns: repeat(4, 220px);
    grid-template-rows: repeat(3, 187px);
    grid-gap: 20px;
}

.img-block {
    background-color: gray;
}

.portfolio-img01 {
    background-image: url(../../assets/images/portfolio-img01.jpg);
    background-position: -9px -11px;
}

.portfolio-img02 {
    background-image: url(../../assets/images/portfolio-img02.jpg);
    background-position: -82px -43px;
}

.portfolio-img03 {
    background-image: url(../../assets/images/portfolio-img03.jpg);
    background-position: -11px -1px;
}

.portfolio-img04 {
    background-image: url(../../assets/images/portfolio-img04.jpg);
    background-position: -25px -2px;
}

.portfolio-img05 {
    background-image: url(../../assets/images/portfolio-img05.jpg);
    background-position: -9px -16px;
}

.portfolio-img06 {
    background-image: url(../../assets/images/portfolio-img06.jpg);
    background-position: -16px -4px;
}

.portfolio-img07 {
    background-image: url(../../assets/images/portfolio-img07.jpg);
    background-position: -30px -39px;
}

.portfolio-img08 {
    background-image: url(../../assets/images/portfolio-img08.jpg);
    background-position: -24px -32px;
}

.portfolio-img09 {
    background-image: url(../../assets/images/portfolio-img09.jpg);
    background-position: -16px -2px;
}

.portfolio-img10 {
    background-image: url(../../assets/images/portfolio-img10.jpg);
    background-position: -141px -114px;
}

.portfolio-img11 {
    background-image: url(../../assets/images/portfolio-img11.jpg);
    background-position: -144px -175px;
}

.portfolio-img12 {
    background-image: url(../../assets/images/portfolio-img12.jpg);
    background-position: -36px -60px;
}

