.section-quote {
  position: relative;
  background-color: $color-bg-section-quote;

  .section-wrapper {
      padding-bottom: 56px;
  }
  
  
  .section-title {
    color: $color-text-section-quote;
  }

  .section-describe {
    color: $color-text-section-quote;
  }

  .section-bottom {
    background-color: $color-bg-quote-bottom;
  }

  .layout-column--2 {
      margin-top: 42px;
  }

}

.block_form {
    flex-basis: 620px;
}

.form-field {
    margin-bottom: 14px;
    width: 590px;
    padding: 13px 14px;
    background-color: $color-form-field;
    border: none;
    border-radius: 5px;
    font-size: 12px;

    &.form-textarea {
        height: 178px;
        resize: none;
    }

    &::placeholder {
        color: $color-form-placeholder;
    }
}

.block_contact {
    flex-basis: 300px; 
    color: $color-text-section-quote;
}

.block_contact-title {
    margin-bottom: 9px;
    
}

.block_contact-text {
    margin: 9px 0;
    font-size: 12px;
    line-height: 21.5px;
    letter-spacing: 0.1px;
    text-align: justify;
}

.block_contact-list {
    margin-top: 24px;
    padding: 0;
    list-style: none;
    font-size: 12px;
    line-height: 21.56px;
}

.block_contact-list-item {
    display: flex;
    align-items: baseline;
}

.contact-icon {
    width: 23px;
}

.contact-icon--location {
    height: 11px;
    background: no-repeat url(../../assets/images/icon-contact-location.svg);
    background-position: 2px 0;
}

.contact-icon--phone {
    height: 11px;
    background: no-repeat url(../../assets/images/icon-contact-phone.svg);
    background-position: 1px 0;
}

.contact-icon--email {
    height: 8px;
    background: no-repeat url(../../assets/images/icon-contact-mail.svg);
}

.contact-text {
   margin: 0; 
}
