/* latin-ext */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Lato Light"), local("Lato-Light"), url(../../assets/fonts/Lato-Light.ttf) format("truetype"), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh7USSwaPGR_p.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Lato Light"), local("Lato-Light"), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh7USSwiPGQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Lato Regular"), local("Lato-Regular"), url(../../assets/fonts/Lato-Regular.ttf) format("truetype"), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjxAwXjeu.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Lato Regular"), local("Lato-Regular"), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wXg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Lato Bold"), local("Lato-Bold"), url(../../assets/fonts/Lato-Bold.ttf) format("truetype"), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh6UVSwaPGR_p.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Lato Bold"), local("Lato-Bold"), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh6UVSwiPGQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local("Lato Black"), local("Lato-Black"), url(../../assets/fonts/Lato-Black.ttf) format("truetype"), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh50XSwaPGR_p.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local("Lato Black"), local("Lato-Black"), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh50XSwiPGQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* front import */
html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: "Lato", "Verdana", sans-serif;
  background-color: dimgray;
}

body {
  box-sizing: border-box;
  background-color: dimgray;
}

.wrapper {
  max-width: 1020px;
  margin: 0 auto;
  background-color: #fff;
}

.section {
  position: relative;
}

.section-wrapper {
  padding: 61px 40px 73px 40px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
  font-weight: 900;
  color: #666d89;
}

.section-describe {
  margin-top: 19px;
  margin-bottom: 11px;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  color: #767e9e;
}

.section-bottom {
  position: absolute;
  bottom: 0;
  height: 6px;
  width: 100%;
}

.layout-column {
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
}

.section-title {
  margin-top: 0;
  margin-bottom: 0px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

.tag {
  margin-right: 7px;
  padding: 3px 6px;
  font-size: 1.2rem;
  letter-spacing: 0.05px;
  color: #767e9e;
  cursor: pointer;
  transition: all ease-out 0.3s;
}
.tag:hover {
  color: #fff78b;
  border-color: #fff78b;
}

.tag_selected {
  color: #dedede;
  border: solid 1px #dedede;
  border-radius: 5px;
}

.tag_bordered {
  border: solid 1px #767e9e;
  border-radius: 5px;
}

.section-quote {
  position: relative;
  background-color: #f06c64;
}
.section-quote .section-wrapper {
  padding-bottom: 56px;
}
.section-quote .section-title {
  color: #f0d8d9;
}
.section-quote .section-describe {
  color: #f0d8d9;
}
.section-quote .section-bottom {
  background-color: #ea676b;
}
.section-quote .layout-column--2 {
  margin-top: 42px;
}

.block_form {
  flex-basis: 620px;
}

.form-field {
  margin-bottom: 14px;
  width: 590px;
  padding: 13px 14px;
  background-color: #d6564f;
  border: none;
  border-radius: 5px;
  font-size: 12px;
}
.form-field.form-textarea {
  height: 178px;
  resize: none;
}
.form-field::placeholder {
  color: #f48c8f;
}

.block_contact {
  flex-basis: 300px;
  color: #f0d8d9;
}

.block_contact-title {
  margin-bottom: 9px;
}

.block_contact-text {
  margin: 9px 0;
  font-size: 12px;
  line-height: 21.5px;
  letter-spacing: 0.1px;
  text-align: justify;
}

.block_contact-list {
  margin-top: 24px;
  padding: 0;
  list-style: none;
  font-size: 12px;
  line-height: 21.56px;
}

.block_contact-list-item {
  display: flex;
  align-items: baseline;
}

.contact-icon {
  width: 23px;
}

.contact-icon--location {
  height: 11px;
  background: no-repeat url(../../assets/images/icon-contact-location.svg);
  background-position: 2px 0;
}

.contact-icon--phone {
  height: 11px;
  background: no-repeat url(../../assets/images/icon-contact-phone.svg);
  background-position: 1px 0;
}

.contact-icon--email {
  height: 8px;
  background: no-repeat url(../../assets/images/icon-contact-mail.svg);
}

.contact-text {
  margin: 0;
}

.footer {
  background-color: #2d303a;
  color: #666d89;
}
.footer .section-wrapper {
  padding: 20px 40px 20px;
  display: flex;
  justify-content: space-between;
}

.footer-copyright {
  font-size: 12px;
}

.social-tags_box {
  margin-top: 3px;
  display: flex;
}

.social-tag {
  margin-right: 8px;
  width: 30px;
  height: 30px;
  display: inline-flex;
  align-content: center;
  justify-content: center;
  border: solid 1px #767e9e;
  border-radius: 50%;
  transition: all ease-out 0.3s;
}
.social-tag:last-child {
  margin-right: 0;
}
.social-tag:hover {
  background-color: #fff78b;
}

.social-tag--facebook {
  background: no-repeat center url(../../assets/images/icon-facebook.svg);
}

.social-tag--google {
  background: no-repeat center url(../../assets/images/icon-google+.svg);
}

.social-tag--twiter {
  background: no-repeat center url(../../assets/images/icon-twiter.svg);
}

.social-tag--linkedin {
  background: no-repeat center url(../../assets/images/icon-linkedin.svg);
}

/*# sourceMappingURL=singolo3.css.map */
